/* Template: Aria - Business HTML Landing Page Template
   Author: Inovatik
   Created: Jul 2019
   Description: Master CSS file
*/


@font-face {
    font-family: '인피니티산스 Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '인피니티산스 Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '인피니티산스 CondBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-CondBoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #787976;
	font: 400 1rem/1.5625rem "인피니티산스 Regular", sans-serif;
}

.p-large {
	font: 400 1.125rem/1.625rem "인피니티산스 Regular", "Open Sans";
}

.p-small {
	font: 400 0.875rem/1.375rem "인피니티산스 Regular", sans-serif;
}

.p-heading {
	margin-bottom: 3.5rem;
	text-align: center;
}

.li-space-lg li {
	margin-bottom: 0.375rem;
	font-family: '인피니티산스 Bold';
    color: #5c5c5c;
    text-decoration: underline;
}

.li-space-lg li:hover {
    color: #3c3c3c;
    text-decoration: underline;
	cursor: pointer;
}

h1 {
	color: #484a46;
	font: 700 2.5rem/3rem "인피니티산스 CondBold", sans-serif;
}

h2 {
	color: #484a46;
	font: 700 1.75rem/2.125rem "인피니티산스 CondBold", sans-serif;
}

h3 {
	color: #484a46;
	font: 700 1.375rem/1.75rem "인피니티산스 CondBold", sans-serif;
}

h4 {
	color: #484a46;
	font: 700 1.25rem/1.625rem "인피니티산스 CondBold", sans-serif;
}

h5 {
	color: #484a46;
	font: 700 1.125rem/1.5rem "인피니티산스 CondBold", sans-serif;
}

h6 {
	color: #484a46;
	font: 700 1rem/1.375rem "인피니티산스 CondBold", sans-serif;
}

a {
	color: #4C4C4C;
	text-decoration: underline;
}

a:hover {
	color: #6EE3F7;
	text-decoration: underline;
}

a.green {
	color: #6EE3F7;
}

a.white,
.white {
	color: #dfe5ec;
}

.nojsbtn {
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	font-size: 5px;
}

.nojsbtn-font {
	text-decoration: none;
	font: 510 1rem/1.375rem "인피니티산스 Regular", sans-serif;
}

.linkbtn {
	font-family: '인피니티산스 Regular';
	color: #787976;
	text-decoration: underline;
}

.linkbtn:hover {
	color: #636162;
	text-decoration: underline;
	cursor: pointer;
}

.result-btn-container {
	width: 25rem;
	margin: 0 auto;
}

.arrowbtn {
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
	padding: 10px 20px;
}

.previous-container {
	color: black;
	float: left;
}

.previous {
	margin-right: 9.4rem;
	background-color: #CFCFCF;
}

.previous:hover {
	background-color: #D8D8D8;
	color: black;
	cursor: pointer;
	text-decoration: none;
}

.next-container {
	color: white;
	float: right;
}

.next {
	margin-left: 9.4rem;
	background-color: #4C4C4C;
	color: white;
	text-decoration: none;
}

.next:hover {
	background-color: #5D5D5D;
	cursor: pointer;
	color: #FAFAFA;
	text-decoration: none;
}

.dialog {
    display: none;
    position: fixed;
    z-index: 1125;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.45);
}
  
.dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fdfdfd;
	padding: 15px;
    margin: 0 auto;
    border: 2.5px solid #515352;
    border-radius: 0.5rem;
    width: 75%;
    max-height: 100vh;
}

.dialog-header {
	display: flex;
    padding: 1rem 1rem;
    border-bottom: 1.75px solid #717372;
}

.dialog-title {
    width: 80%;
    font-family: "인피니티산스 CondBold";
    font-size: 1.525rem;
    margin-bottom: 0;
    color: #212322;
}

.dialog-text {
    width: 85%;
    font-family: "인피니티산스 Bold";
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.51;
    color: #515352;
}
  
.dialog-close {
    color: #aaaaaa;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2.125rem;
    font-weight: bold;
}
  
.dialog-close:hover,
.dialog-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.hidden-scroll {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    touch-action: none;
}

.send-email-wrap {
    display: block;
    width: 100%;
    height: auto;
    padding: 2.5rem 0.25rem;
    transition: all 0.35s ease-in-out;
}

.send-email-input {
    display: block;
    width: 75%;
    height: 2.35rem;
    font-family: "인피니티산스 Bold";
    font-size: 0.85rem;
    background: #fdfdfd;
    border: 1.75px solid #0e0e0e;
    border-radius: 8px;
    margin: 0 0 1.25rem 1.5rem;
    transition: all 0.35s ease-in-out;
}

.send-email-textarea {
    display: block;
    width: 65%;
    font-family: "인피니티산스 Bold";
    font-size: 0.95rem;
    background: #fdfdfd;
    border: 1.75px solid #0e0e0e;
    border-radius: 2px;
	margin: 0 0 1.25rem 1.5rem;
    transition: all 0.35s ease-in-out;
	resize: none;
}

.send-email-btn {
    display: block;
    width: 11.25rem;
    height: 3.25rem;
    font-family: "인피니티산스 Bold";
    font-size: 1.025rem;
    color: #fdfdfd;
    background: #0e7cd6;
    border: 2px solid #0e0e0e;
    border-radius: 6px;
    margin: 1.75rem auto 0 auto;
    transition: all 0.25s ease-in-out;
}

.send-email-btn:hover {
    color: #4a4b4c;
    background: #fdfdfd;
    border: 2.25px solid #0e7cd6;
    transition: all 0.25s ease-in-out;
}

@media (max-width: 992px) {
	.result-btn-container {
		width: 19rem;
		padding-top: 1.25rem;
		margin: 0 auto;
	}

	.previous {
		margin-right: 6.4rem;
		background-color: #CFCFCF;
		color: black;
	}
	
	.next {
		margin-left: 6.4rem;
		background-color: #4C4C4C;
		color: white;
	}
}

.noJs {
	position: absolute;
	right: 20px;
	bottom: 10px;
	font: 540 1rem/1.375rem "Montserrat", sans-serif;
	font-size: 15px;
	background-color: #313131;
	color: white;
}

.noJs:hover {
	background-color: #313131;
	color: white;
}

.comment {
	background-color: #4C4C4C;
	color: #4C4C4C;
}

.comment:hover {
	background-color: #D8D8D8;
	color: #D8D8D8;
}

.round {
	border-radius: 75%;
}

.testimonial-author {
	font: 700 1rem/1.375rem "Montserrat", sans-serif;
}

.section-title {
	color: #484a46;
	font: 500 0.8125rem/1.125rem "Montserrat", sans-serif;
}


@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}


.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #313131;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem;
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}


.navbar-custom {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	background-color: #313131;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
	transition: all 0.2s;
}

.navbar-custom .navbar-brand {
	font-size: 0;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 9.5rem;
	height: 2.75rem;
}

.navbar-custom .navbar-brand.logo-text {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	font: 700 2.25rem/1.5rem "Montserrat", sans-serif;
	color: #fff;
	text-decoration: none;
}

.navbar-custom .navbar-brand.durango-image img {
    width: 1rem;
	height: 1rem;
	position: absolute;
	right: 100px;
	top: 0px;
}

.navbar-custom .navbar-brand.nojs-logo-image img {
	width: 7.0625rem;
	height: 2rem;
	position: absolute;
	left: 50px;
	top: 15px;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	font-family: 'Rubik';
	padding: 0.625rem 0.75rem 0.625rem 0.75rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #6EE3F7;
}

.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block;
	min-width: auto;
	animation: fadeDropdown 0.2s;
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus {
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #313131;
}

.navbar-custom .dropdown-item {
	color: #fff;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #313131;
}

.navbar-custom .dropdown-item .item-text {
	font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
	color: #6EE3F7;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto 0.75rem auto;
	border: none;
	background-color: #b5bcc4;
	opacity: 0.2;
}

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


.header {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/header-background.jpg') center center no-repeat;
	background-size: cover;
}

.header .header-content {
	margin-top: 4rem;
	padding-top: 14.75rem;
	padding-bottom: 12.25rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header h1 {
	margin-bottom: 0.5rem;
	color: #fff;
}

.header .p-large {
	margin-bottom: 2rem;
	color: #eeeded;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}


.basic-1 {
	padding-top: 6.5rem;
	padding-bottom: 3rem;
}

.basic-1 .text-container {
	margin-bottom: 3rem;
}

.basic-1 .section-title {
	margin-bottom: 0.95rem;
}

.basic-1 h2 {
	margin-bottom: 1.375rem;
}

.basic-1 .testimonial-author {
	color: #484a46;
}

.basic-1 .image-container {
	overflow: hidden;
	border-radius: 0.25rem;
}

.basic-1 .image-container img {
	margin: 0;
	border-radius: 0.25rem;
	transition: all 0.3s;
}

.basic-1 .image-container:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 


.contact-form {
	padding-top: 6.625rem;
	padding-bottom: 5.625rem;
	background-color: #fbfbfb;
}

.contact-form .text-container {
	margin-bottom: 3rem;
}

.contact-form .section-title {
	margin-bottom: 0.95rem;
 }

.contact-form h2 {
	margin-bottom: 1.375rem;
}

.contact-form .list-unstyled {
	margin-bottom: 2.25rem;
	font-size: 1rem;
	line-height: 1.625rem;
}

.contact-form .list-unstyled .fas,
.contact-form .list-unstyled .fab {
	margin-right: 0.5rem;
	font-size: 0.875rem;
	color: #484a46;
}

.contact-form .list-unstyled .fa-phone {
	vertical-align: 3%;
}

.contact-form h3 {
	margin-bottom: 1rem;
}

.contact-form .fa-stack {
	margin-right: 0.25rem;
	margin-bottom: 0.75rem;
	margin-left: 0.125rem;
	width: 3.25rem;
	height: 3.25rem;
}

.contact-form .fa-stack .hexagon {
	position: absolute;
	width: 3.25rem;
	height: 3.25rem;
	background: url('../images/hexagon-green.svg') center center no-repeat;
	background-size: 3.25rem 3.25rem;
	transition: all 0.2s ease;
}

.contact-form .fa-stack:hover .hexagon {
	background: url('../images/hexagon-white.svg') center center no-repeat;
	background-size: 3.25rem 3.25rem;
}

.contact-form .fa-stack-1x {
	font-size: 1.5rem;
	line-height: 3.25rem;
	color: #fff;
	transition: all 0.2s ease;
}

.contact-form .fa-stack:hover .fa-stack-1x {
	color: #484a46;
}


.copyright {
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	background-color: #313131;
	text-align: center;
}

.copyright p,
.copyright a {
	position: relative;
	right: 0px;
	color: #dfe5ec;
	text-decoration: none;
}


a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #65dff5 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #84edff;
}


@media (min-width: 768px) {
	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}


	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
        background: transparent;
	}
	
	.navbar-custom .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
	}
	
	.navbar-custom .nav-item .nav-link:hover {
		color: #6EE3F7;
		cursor: pointer;
	}

	.navbar-custom .nav-item .nav-link.active {
		color: #6EE3F7;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.375rem 1.5rem 0.375rem 2rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #313131;
	}

	.navbar-custom.top-nav-collapse .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		color: #fff;
	}
	
	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
	.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
		color: #6EE3F7;
	}

	.navbar-custom .dropdown-menu {
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-top: 0.75rem solid rgba(0, 0, 0, 0);
		border-radius: 0.25rem;
		box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
	}
	
	.navbar-custom.top-nav-collapse .dropdown-menu {
		border-top: 0.125rem solid rgba(0, 0, 0, 0);
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-items-divide-hr {
		width: 84%;
	}


	.header .header-content {
		margin-top: 0;
		padding-top: 13rem;
		padding-bottom: 7.5rem;
	}

	.header h1 {
		font: 700 3.5rem/4rem "인피니티산스 Bold", sans-serif;
	}


	.contact-form .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.contact-form .list-unstyled .address {
		display: block;
	}
}

.community-btn {
	width: 2.95rem;
	height: auto;
	margin-top: 0.15rem;
	border-radius: 2.5px;
}


@media (min-width: 992px) {
	.p-heading {
		width: 65%;
	}


	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		margin-left: 0.375rem;
		font-size: 0.8125rem;
	}

	.navbar-custom .fa-stack .hexagon {
		width: 1.625rem;
		height: 1.625rem;
		position: absolute;
		background: url('../images/hexagon-green.svg') center center no-repeat;
		background-size: 1.625rem 1.625rem;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .hexagon {
		background: url('../images/hexagon-white.svg') center center no-repeat;
		background-size: 1.625rem 1.625rem;
	}
	
	.navbar-custom .fa-stack-1x {
		font-size: 0.6875rem;
		line-height: 1.625rem;
		color: #fff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #6EE3F7;
	}


	.header .header-content {
		margin-top: 0;
		padding-top: 14rem;
		padding-bottom: 15rem;
	}

	.header .text-container {
		margin-top: 6.5rem;
	}


	.basic-1 {
		padding-top: 6.875rem;
	}

	.basic-1 .text-container {
		margin-bottom: 0;
	}
}


@media (min-width: 1200px) {
	.p-heading {
		width: 55%;
	}


	.navbar-custom {
		padding-right: 5rem;
		padding-left: 5rem;
	}

	.navbar-custom.top-nav-collapse {
		padding-right: 5rem;
		padding-left: 5rem;
	}

	
	.header .header-content {
		margin-top: 0;
		padding-top: 14.75rem;
		padding-bottom: 17.5rem;
	}
}


@media (min-width: 1600px) {
	.navbar-custom {
		padding-right: 12rem;
		padding-left: 12rem;
	}

	.navbar-custom.top-nav-collapse {
		padding-right: 12rem;
		padding-left: 12rem;
	}
}
